/* Fazendo o "RESET": */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

nav,
ul {
  list-style: none;
}

body {
  background-position: 50% 50%;
  background-color: rgb(166, 166, 202);
  font-family: Arial;
}

/* ESTILIZANDO O "HEADER": */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: black;
 /*  margin-bottom: 20px; */
  justify-content: start;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

.navmenu {}

header .navmenu li {}

.navmenu li a {}

header .navmenu li:first-child { }

header .navmenu li:last-child {}

header img {
  width: 110px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}

header nav div a {
  color: #c3c63b;
  font-size: 17px;
  margin-left: 4%;
  left: 5%;
}

header li {
  margin: 0 35% 0 0;
  text-align: center;
  align-items: center;
}

/* ESTILIZANDO O MAIN */

/* Filho Verde*/
.content-box {
  display: flex;
  flex-direction: column;
  position: relative;
  /* background: green; */
  width: 100%;
  align-items: center;
}

input {
  /* height: 120%; */
  width: 100%;
  min-width: 100%;
  margin-top: 6%;
  font-size: 19pt;
  padding: 10px 20px;
  border: none;
  outline: none;
  /* background: blue; */
  border-radius: 20px;
}

.content-box input[type=submit] {
  background-color: rgba(150, 34, 165, 0.3);
  height: 50%;
  width: 20%;
  cursor: pointer;
  border: none
}

.olho {
  cursor: pointer;
  width: 50px;
  position: absolute;
  /*  top: 14%; */
  bottom: 5%;
  /* left: 75%; */
  right: 5%;
}

a {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  text-decoration: underline;
}

div.msg-erro {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: rgba(250, 128, 114, .3);
  border: 1px solid rgb(165, 42, 42);
}

.content-box label {
  margin-top: 5%;
  margin-left: 12%;
}

.content-box .botao {
  margin-top: 10px;
  border-radius: 30px;
  /*  border: 2px solid black; */
}

/* ESTILIZANDO O "FOOTER" */

footer {
  display: flex;
  flex-direction: column;
  background-color: #191c03;
  align-items: center;
  margin-bottom: 0;
  margin-top: 20%;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  padding-top: 10px;
  align-items: center;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #c3c63b;
  font-size: 1.5rem;
}

footer p {
  color: #c3c63b;
  text-align: center;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  padding-top: 10px;
  align-items: center;
}

/* MEDIA QUERIES */
@media (max-width: 850px) {
  header nav li a {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header img {
    margin-bottom: 15px;
  }

  header nav li a {
    font-size: 11px;
    margin-bottom: 3%;
  }

  header nav .navmenu {
    justify-content: center;
    align-items: center;
  }
}


@media (max-width: 470px) {
  header .navmenu li {
    margin: 13%;
  }

  header li:first-child {
    margin-left: 0;
  }

  header li:last-child {
    margin-right: 0;
  }

  header nav .navmenu li a {

    flex: 1;
  }
}