/* Fazendo o "RESET": */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

nav,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

/* ESTILIZANDO O "HEADER": */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
}

header img {
    width: 110px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.navmenu {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
}

header li {
    margin: 0 35% 0 0;
}

.navmenu li a {
    color: #c3c63b;
    font-size: 17px;
    white-space: nowrap;
}

/* ESTILIZANDO O "CABEÇALHO": */
main {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho img {
    background-image: url(../img/cabecalhositebentley.jpg);
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.juruena {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 4%;
}

.juruena .juruena1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 0;
}

.juruena .juruena2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
}

.juruena .juruena3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    font-weight: bold;
}

.opcoespgto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    cursor: pointer;
}

.opcoespgto .boleto {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}

.opcoespgto .pix {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.opcoespgto .cartao {
    display: flex;
    flex-direction: column;
}

.opcoespgto .boleto p {
    text-align: center;
    font-size: 13px;
}

.opcoespgto .pix p {
    font-size: 12px;
    text-align: center;
}

.opcoespgto .cartao p {
    font-size: 12px;
    text-align: center;
}

.opcoespgto .boleto img {
    max-width: 100%;
    cursor: pointer;
}

.opcoespgto .pix img {
    max-width: 100%;
    cursor: pointer;
}

.opcoespgto .cartao img {
    max-width: 100%;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    align-items: center;
    width: 100%;

     position: absolute;
    bottom: 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    padding-top: 10px;
    align-items: center;
}

footer ul li {
    margin-right: 10px;

}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #c3c63b;
    font-size: 1.5rem;
}

footer p {
    color: #c3c63b;
    text-align: center;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .navmenu {
        justify-content: center;
        margin-bottom: 7%;
    }
}

@media (max-width: 400px) {
    .opcoespgto {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 3%;
    }

    .opcoespgto .boleto {
        margin: 3%;
    }

    .opcoespgto .cartao {
        margin: 3%;
    }

    .opcoespgto .pix {
        margin: 3%;
    }
}