/* Fazendo o "RESET": */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

nav,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

body {
    position: relative;
}

/* ESTILIZANDO O "HEADER": */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;

}

header img {
    width: 110px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.navmenu {
    display: flex;
    flex-direction: row;
   margin-left: 40%;
    /* margin: 3% */ */
}

header li {
    margin: 0 35% 0 0;
}

.navmenu li a {
    color: #c3c63b;
    font-size: 17px;
    white-space: nowrap;
}

/* ESTILIZANDO O "CABEÇALHO": */

/* ESTILIZANDO O "CABEÇALHO": */
main {
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    align-items: center;
}

.cabecalho img {
    background-image: url(../img/cabecalhositebentley.jpg);
    width: 90%;
    margin-left: 5%;
}





.imagensjuruena {
    /*  display: flex; */
}

.imgjuruena1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*  justify-content: center; */
    /*  margin-top: 3%; */
    align-items: center;
    /*  margin-right: 3%; */
}

.imgjuruena2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*  justify-content: center; */
    /* margin-bottom: 7%; */
    margin-left: 13%;
}

/* .imgjuruena img {
    background-image: url(../img/juruena01.jpg);
    background-image: url(../img/juruena03.jpg);
    background-image: url(../img/juruena04.jpg);
    background-image: url(../img/juruena05.jpg);
    align-items: center;
} */

.imgjuruena1 .img01 img {
    /*  height: auto; */
    width: 70%;
    margin: 3%;
    /* max-width: 280px;
    max-height: 280px; */
}

.imgjuruena1 .img03 img {
    /*  height: auto; */
    width: 70%;
    /*   max-width: 280px; */
    /*   max-height: 280px; */
    margin: 3%;

}

.imgjuruena2 .img04 img {
    /*   height: auto; */
    width: 70%;
    /*  max-width: 280px;
    max-height: 280px; */
    margin: 3%;
    /* margin-top: 8%; */
}

.imgjuruena2 .img05 img {
    /* height: auto; */
    width: 70%;
    /*  max-width: 280px;
    max-height: 280px;
    margin-bottom: 7%; */
    margin: 3%;
}





/* ESTILIZANDO RESERVA */
.reserva {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*  align-items: center; */
    /* margin: 0 9% 0 9%; */
    /*  flex-direction: row; */
    /*    justify-content: center; */
    /*  padding-bottom: 50px; */
    padding-bottom: 40%;
    
}

.reserva img {
    width: 60%;
    /*   align-self: center; */
    /* margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 20%; */
    margin: 7%;
    
}







/* h5 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #333;
    justify-content: center;
} */





footer {
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    padding-top: 10px;
    align-items: center;
}

footer ul li {
    margin-right: 10px;

}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #c3c63b;
    font-size: 1.5rem;
}

footer p {
    color: #c3c63b;
    text-align: center;
}





/* ++++++ MEDIA QUERIES ++++++ */

@media (max-width: 450px) {
   .imgjuruena1 {
    margin-top: 10%;
   }

   .imgjuruena2 {
    margin-top: 10%;
   }
}

/*
@media (max-width: 850px) {
    footer {
        height: 100px;
    }

    .cabecalho {
        margin-top: 15px;
    }
}

@media (max-width: 800px) {
    .navmenu a {
        font-size: 15px;
    }
}
*/

@media (max-width: 720px) {
    header {
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .navmenu {
        justify-content: center;
        margin-bottom: 7%;
    }

    /*
    header nav .navmenu {
        justify-content: center; */

}

/*

@media (max-width: 650px) {
    .imgjuruena1 .img01 img {
        height: auto;
        width: auto;
        max-width: 260px;
        max-height: 260px;
    }

    .imgjuruena1 .img03 img {
        height: auto;
        width: auto;
        max-width: 260px;
        max-height: 260px;
    }

    .imgjuruena2 .img04 img {
        height: auto;
        width: auto;
        max-width: 260px;
        max-height: 260px;
    }

    .imgjuruena2 .img05 img {
        height: auto;
        width: auto;
        max-width: 260px;
        max-height: 260px;
    }

    .reserva img {
        margin-top: 20%;
    }

    footer {
        height: 100px;
    }
}

@media (max-width: 570px) {
    .imgjuruena1 .img01 img {
        height: auto;
        width: auto;
        max-width: 240px;
        max-height: 240px;
    }

    .imgjuruena1 .img03 img {
        height: auto;
        width: auto;
        max-width: 240px;
        max-height: 240px;
    }

    .imgjuruena2 .img04 img {
        height: auto;
        width: auto;
        max-width: 240px;
        max-height: 240px;
    }

    .imgjuruena2 .img05 img {
        height: auto;
        width: auto;
        max-width: 240px;
        max-height: 240px;
    }

    .reserva img {
        margin-top: 30%;
    }
}

@media (max-width: 520px) {
    .imgjuruena1 .img01 img {
        height: auto;
        width: auto;
        max-width: 220px;
        max-height: 220px;
    }

    .imgjuruena1 .img03 img {
        height: auto;
        width: auto;
        max-width: 220px;
        max-height: 220px;
    }

    .imgjuruena2 .img04 img {
        height: auto;
        width: auto;
        max-width: 220px;
        max-height: 220px;
    }

    .imgjuruena2 .img05 img {
        height: auto;
        width: auto;
        max-width: 220px;
        max-height: 220px;
    }

    header li:first-child {
        margin-left: 3%;
    }

    header li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-basis: 100%;
        margin-top: 15px;
        align-self: center;
    }

    .imgjuruena img:first-child {
        margin-top: 55%;
        height: 30%;
    }

    .imgjuruena img:last-child {
        margin-top: 55%;
        height: 30%;
    }

    .img03 img {
        width: 100%;
        margin-top: 2%;
        align-items: flex-start;
    }

    .reserva img {
        margin-top: 30%;
    }
}

@media (max-width: 450px) {
    .imgjuruena1 .img01 img {
        height: auto;
        width: auto;
        max-width: 190px;
        max-height: 190px;
    }

    .imgjuruena1 .img03 img {
        height: auto;
        width: auto;
        max-width: 190px;
        max-height: 190px;
    }

    .imgjuruena2 .img04 img {
        height: auto;
        width: auto;
        max-width: 190px;
        max-height: 190px;
    }

    .imgjuruena2 .img05 img {
        height: auto;
        width: auto;
        max-width: 190px;
        max-height: 190px;
    }

    .navmenu {
        margin: 0 17% 0 17%;
    }
}

@media (max-width: 400px) {
    .navmenu a {
        font-size: 11px;
    }

    .navmenu li {
        margin: 8px;
    }

    header li:first-child {
        margin-left: 3%;
    }

    .imgjuruena1 .img01 img {
        height: auto;
        width: auto;
        max-width: 160px;
        max-height: 160px;
    }

    .imgjuruena1 .img03 img {
        height: auto;
        width: auto;
        max-width: 160px;
        max-height: 160px;
    }

    .imgjuruena2 .img04 img {
        height: auto;
        width: auto;
        max-width: 160px;
        max-height: 160px;
    }

    .imgjuruena2 .img05 img {
        height: auto;
        width: auto;
        max-width: 160px;
        max-height: 160px;
    }
} */